#pinpoint-newpassword .modal-header {
    background-color: #384258 !important;
    color: #FFF;
}
#pinpoint-newpassword .modal-title {
	font-size: 20px;
}
#pinpoint-newpassword .modal-menu {
    font-size: 16px;
    height:36px;
    color: #a2a2a2;
    border-bottom: 1px solid #E5E5E5;
}
#pinpoint-newpassword .modal-menu ul {
	list-style-type: none;
	padding: 0px 0px 0px 8px;
}
#pinpoint-newpassword .modal-menu li {
	float: left;
	padding: 2px 10px 2px 10px;
	cursor: pointer;
}
#pinpoint-newpassword .modal-menu li.active {
	color: #686868;
}
#pinpoint-newpassword .modal-body {
	background-color: #FFF;
}
#pinpoint-newpassword .modal-body > div {
	height: 500px;
}
	

#pinpoint-newpassword .hide-me {
	display:none;
}



